.main-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    height: 100%;
}

.sidebar {
    width: 25%;
    height: 100%;
    overflow: scroll;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-color: rgb(233, 233, 233);
}

@media screen and (max-width: 768px) {
    .main-layout{
        height: auto;
    }
    .sidebar {
        width: 100%;
    }

    .canvas {
        width: 100%;
    }

}