.main-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.sidebar {
    width: 25%;
    height: 100vh;
}

.canvas {
    width: 75%;
    height: 100vh;
    background-color: rgb(233, 233, 233);
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
    }

    .canvas {
        width: 100%;
        height: auto;
    }

}