/* Main layout */
#main-layout {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#preview {
    background-color: white;
    border-radius: 50px;
    width: 35vw;
    margin: 2rem;
}

#preview svg {
    display: block;
    width: 100%;
    max-width: 40rem;
    height: auto;
}

@media screen and (max-width: 768px) {
    #main-layout {
        display: flex;
        justify-content: center;
    }

    #preview {
        width: auto;
    }
}