/* Main layout */
#main-layout {
    background-color: rgb(207, 205, 205);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;

}

#preview {
    background-color: white;
    border-radius: 75px;
    margin: 5rem;
}

#preview svg {
    background-color: transparent;
    display: block;
    width: 100%;
    max-width: 25rem;
    height: 25rem;
    border: 0.125rem;
    border-color: #b4b4b4;
    border-style: dashed;
    border-radius: 50px;
    margin: 2rem;
}

@media screen and (max-width: 768px) {
    .selectors-list li input {
        width: 35vw;
    }
}